*{margin: 0;
padding: 0;}

body{
    font-family: 'poppins',sans-serif;
}
.logo,.search{
    color: orangered;
}
.searchbar{
    display: flex;
    border: solid black 1px;
    width: 30%;
    justify-content: space-around;
    padding: 10px;
    border-radius: 30px; 
}
.header{
    display: flex;
    padding:10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.filter{
    color: grey;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px; 
}
.fbox:hover{
    color: black;
    cursor: pointer;
}
img{
    border-radius: 10px;
    transition: 1s;
}
img:hover{
    transform: scale(1.1);
}
.cont{
    display: flex;   
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    margin: 10px;
}

















